<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FromEmail" value="xxx@xxx"/>
    <add key="Username" value="xxx"/>
    <add key="Password" value="xxx"/>
    <add key="ToEmail" value="xxx@xxx"/>
    <add key="Domain" value="xxx"/>
    <add key="Port" value="587"/>
    <add key="Services" value="www.xx.com,www.xxx.com,www.xxxxx.com"/>
  </appSettings>
</configuration>